<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Su compra ha sido Exitosa!</h4>
</div>
<!-- Card -->
<div class="mb-3">
  <div class="pt-4">

    <h5 class="mb-3">Resumen de su compra</h5>

    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unit</th>
          <th>Precio Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of order.products">
          <td>{{product.name}}</td>
          <td>x{{product.count}}</td>
          <td>${{product.price}}</td>
          <td>${{product.price * product.count}}</td>
        
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"><strong>Precio total</strong></td>
          <td><strong>${{order.total}}</strong></td>
        </tr>
      </tfoot>
    </table>

    <a href="/" class="btn btn-primary">Volver al market</a>
  </div>
</div>
<!-- Card -->
<!-- Card -->
